/.metadata/
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.location
Spring_Dictation (2)/.metadata/.lock
Spring_Dictation (2)/.metadata/.log
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.markers
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/ff/00dc1bdd9ea4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1071572428.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1152937124.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1173115786.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1179512485.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1203607671.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1204194424.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1235021659.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1289699494.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1306675748.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1315549095.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1322958611.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1341668871.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/13569895.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1371819143.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1376848316.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1478822665.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1502919148.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1545528768.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/159419129.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1600896385.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1612551996.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1620055777.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1664171140.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1706555861.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1724886143.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1856773112.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1880118585.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1905733441.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1908530802.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.internet.cache/190906114.cache
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1928985335.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1946590417.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/1967435256.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/37/207100759fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2117056579.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2123747156.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2129821187.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/221124747.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2341294296.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2499638949.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2504574779.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2506350668.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2511150994.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2573160436.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2716267566.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2728583846.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2733218456.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/288477893.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2899198020.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2909887225.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/2935430240.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/fc/304e08539fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3079170868.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/312146980.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3304015611.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3360712492.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3380001768.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3425996527.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3446442589.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3478586344.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3479207231.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3491313055.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3567532206.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3661818326.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3745826403.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/380202148.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3805965179.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3850523322.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3852122861.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3858933458.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3898599632.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/3940091350.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4029164763.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4071325252.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4090310343.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/88/409a30339fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4149148350.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4156159640.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4159855170.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/416869917.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4185675640.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/4215965282.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/454940004.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/490103244.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/ec/50bd868c9ea4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/516471850.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/571910260.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/57426549.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.internet.cache/599988907.cache
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/675883488.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/679287504.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/682823374.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/5a/706dfbec9ea4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/717240182.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/769497752.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/ff/80b6d59f9fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/837526874.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/847731282.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/855320819.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/870540865.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/953840092.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/974718464.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/979851410.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/e4/a0f82d689fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/Dictation/bin/main/application.yml
Spring_Dictation (2)/Dictation/src/main/resources/application.yml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.15.0.20200109-1107.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/properties.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/org.eclipse.jdt.core/state.dat
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Spring_Dictation (2)/.metadata/version.ini
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/18/f016218e9fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/c6/f0564d7d9ea4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/6/f0ef9ec39fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/org.eclipse.egit.core/GitProjectData.properties
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/bf/39/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/bf/3c/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/bf/5f/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/bf/79/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/7/b9/bf/ec/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/22/81/1/9c/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/22/81/1/b9/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/bf/39/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/bf/3c/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/bf/5f/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/bf/79/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.projects/Dictaion/.indexes/e4/b9/db/bf/ec/history.index
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/e6/b041aa839fa4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.core.resources/.history/6/c0c7e2bf9ea4001a16b3cb00b02f55fd
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.buildship.core/project-preferences/Dictaion
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.debug.core/.launches/Dictaion - DictaionApplication.launch
Spring_Dictation (2)/.metadata/.plugins/org.eclipse.buildship.core/init.d/eclipsePlugin.gradle
